.execOverview {
    border: 0px dashed lightgray;
    padding: 0.5em;
    display: flex;
        justify-content: center;
}

.execOverview .chartIcon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: lightgrey
}

.chartIcon:hover {
    color: white;
}
.execOverviewTitle {
    font-family: monospace;
    font-size: clamp(6px, 1vw * 0.7, 1.4rem);
    text-align: left;
        max-width: 100%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}