pre {
    font-family: monospace;
    color: black;
}
pre.inline {
    display: inline;
}
.tc {
    text-align: left;
    padding-left: 0.5em;
    margin-top: 6px;
}

.tcDesc {
    background-color: lightgray;
    padding: 0.5em;
}
.tcExpectedResult {
    background-color: lightgray;
    margin-left: 1em;
    padding: 2px;
    display: inline;
}
.tcArgs {}

.tcArgs td {
    border-bottom: 1px solid darkgray;
}
.tcf {
    padding-left: 0.5em;
    margin-top: 4px;
}